*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.background1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
  }
  
  .login img {
    width: 180px;
    height: 180px;
    margin-bottom: 0px;
  }

  .login h3{
    color: #0d8cc2;
    margin-top:-20px;
    font-size: 10px;
    
    
  }

  .btn{
    position: relative;
   width: 180%;
   margin-top: 50px;
   padding: 15px;
   border-radius: 12px;
   background-color: white;
   color: #979797;
   border: 1px solid #979797;
   box-shadow: 0px 5px 5px #979797;
   
  }

  .btn-line{
    width: 180%;
    padding: 15px;
    margin-top: 30px;
    border-radius: 12px;
    background-color: #2d17b3;
    color: white;
    border: 1px solid #0d8cc2;
  }